.button {
    padding: 28px 81px;
    background-color: black;
    color: white;
    font-size: 20px;
    letter-spacing: 22px;
    text-transform: uppercase;
}

.button:hover {
    background-color:#FF4040 ;
    transition: 0.4s;
}