.dummy{
    border: 2px dashed black;
    background-color: white;
    font-weight: 900;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dummy__header{
    height: 100px;
}

.dummy__main{
    height:500px ;
}
.dummy__footer{
    height: 100px;
}