.dummy {
    border: 2px dashed red;
    background-color: transparent;
    font-weight: normal;
    font-size: 14;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dummy__header{
    height: 100px;
}

.dummy__main{
    height:500px ;
}
.dummy__footer{
    height: 100px;
}