
.main__section{
  margin: 0;
  margin-bottom: 150px;
}
.info {

  height: 653px;
}

.info__content{
  margin-bottom: 150px;
}

.info__top {
  position: relative;

}
.info__title > h1 {
  margin-top: 72px;
  font-size: 64px;
  line-height: 77.45px;
  margin-bottom: 5px;
}

.info__subtitle > h2 {
  font-size: 32px;
  font-weight: 400;
  color: #6f6f6f;
  margin-bottom: 60px;
}

.info__text {
  display: flex;
  flex-direction: column;
  width: 539px;
  margin-bottom: 80px;
}
.info__slogan {
  font: inherit;
  margin-bottom: 20px;
}

.info__presentation {
  margin-bottom: 107px;
  width: 420px;
}



.info__low {
  display: flex;
  align-items: center;
  justify-content: start;
}

.main__button {
  margin-top: -27px;
  margin-right: 215px;
  
}


.info__bike-indicators {
  width: 500px;
  height: 53px;
  margin-right: 65px;
}

.row > th {
  padding-right: 66px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}

.row td {
  text-transform: lowercase;
  font-size: 12px;
  padding-top: 13px;
  text-align: center;
}

 .row__number-of-modes {
  padding: 0;
  padding-top: 5px;
}

.slider-top {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 630px;
  height: 525px;
  overflow: hidden;
  top: 0;
  left: 45%;

}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.1s ease-in;
}

.control {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.bar {
  position: relative;
  width: 3px;
  height: 30px;
  background-color: #131313;
  margin: 6px;
  left: 620px;
  border-radius: 7px;
  transition: all 0.4s ease;
  z-index: 100;
  opacity: 0.9;
 
}

.slide > img {
  position: relative;
  width: 100%;
  height: 100%;
}
.bar:hover {
  background-color: #ff4040;
  width: 100%;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .s1 {
  margin-left: 0;
  transition: all 0.5s ease-out;
}

#r2:checked ~ .s2 {
  margin-left: -25%;
  transition: all 0.5s ease-out;
}

#r3:checked ~ .s3 {
  margin-left: -50%;
  transition: all 0.5s ease-out;
}

#r4:checked ~ .s4 {
  margin-left: -75%;
  transition: all 0.5s ease-out;
}
