.layout {
  min-height: 100vh;
  background-color: black;
 
}

.layout__header {
  background-color: white;
}

.layout__main {
  background-color: gray;
}

.layout__footer {
  background-color: transparent;
}

.layout__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1920px;
 
}

