.layout {
  min-height: 100vh;
  background-color:white;
  margin: 0 auto;
 
}

.layout__header {
  background-color: white;
}

.layout__main {
  background-color: white;
}

.layout__footer {
  background-color: transparent;
  background-color: black;
}

.layout__content {

  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1920px;
}

